{% extends 'base.html.twig' %}

{% block title %}Materiel{% endblock %}

{% block body %}

<section class="hero margin-body">
    <h1>Notre matériel d’impression et de prototypage :</h1>
    <p class="subtitle">Du matériel professionnel pour permettre à nos étudiants de développer leur créativité.</p>
</section>


<section class="margin-body section-article-materiel">

    <h2>Notre matériel d’impression et de prototypage :</h2>

    <div class="container-article-materiel">

        {# Card article materiel #}
        <div class="card-articles-materiel">
            <img src="{{asset("images/blog/bg-hero.jpeg")}}" alt="image d'illustration de l'article">
            <div class="container-card-description-materiel">
                <div class="is-avaible is-avaible_disponible"><p class="text">Disponible</p></div>
                <div class="description-card-materiel">
                    <h4>Imprimantes 3D Ultimaker 2+</h4>
                    <p class="text">Du matériel professionnel pour permettre à nos étudiants de développer leur créativité.</p>
                    <button>Lire</button>
                </div>
            </div>
        </div>

        {# Card article materiel #}
        <div class="card-articles-materiel">
            <img src="{{asset("images/blog/bg-hero.jpeg")}}" alt="image d'illustration de l'article">
            <div class="container-card-description-materiel">
                <div class="is-avaible is-avaible_indisponible"><p class="text">Indisponible</p></div>
                <div class="description-card-materiel">
                    <h4>Imprimantes 3D Ultimaker 2+</h4>
                    <p class="text">Du matériel professionnel pour permettre à nos étudiants de développer leur créativité.</p>
                    <button>Lire</button>
                </div>
            </div>
        </div>

        {# Card article materiel #}
        <div class="card-articles-materiel">
            <img src="{{asset("images/blog/bg-hero.jpeg")}}" alt="image d'illustration de l'article">
            <div class="container-card-description-materiel">
                <div class="is-avaible is-avaible_indisponible"><p class="text">Indisponible</p></div>
                <div class="description-card-materiel">
                    <h4>Imprimantes 3D Ultimaker 2+</h4>
                    <p class="text">Du matériel professionnel pour permettre à nos étudiants de développer leur créativité.</p>
                    <button>Lire</button>
                </div>
            </div>
        </div>

        {# Card article materiel #}
        <div class="card-articles-materiel">
            <img src="{{asset("images/blog/bg-hero.jpeg")}}" alt="image d'illustration de l'article">
            <div class="container-card-description-materiel">
                <div class="is-avaible is-avaible_disponible"><p class="text">Disponible</p></div>
                <div class="description-card-materiel">
                    <h4>Imprimantes 3D Ultimaker 2+</h4>
                    <p class="text">Du matériel professionnel pour permettre à nos étudiants de développer leur créativité.</p>
                    <button>Lire</button>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="section-main-article-materiel margin-body">

    {# Card article materiel #}
    <div class="card-articles-materiel">
        <img src="{{asset("images/blog/bg-hero.jpeg")}}" alt="image d'illustration de l'article">
        <div class="container-card-description-materiel">
            <div class="is-avaible is-avaible_disponible"><p class="text">Disponible</p></div>
            <div class="description-card-materiel">
                <h4>Imprimantes 3D Ultimaker 2+</h4>
                <p class="text">Du matériel professionnel pour permettre à nos étudiants de développer leur créativité.</p>
                <button><a href="#">Lire</a></button>
            </div>
        </div>
    </div>

</section>

<section class="margin-body section-article-materiel">

    <div class="container-article-materiel">

        {# Card article materiel #}
        <div class="card-articles-materiel">
            <img src="{{asset("images/blog/bg-hero.jpeg")}}" alt="image d'illustration de l'article">
            <div class="container-card-description-materiel">
                <div class="is-avaible is-avaible_disponible"><p class="text">Disponible</p></div>
                <div class="description-card-materiel">
                    <h4>Imprimantes 3D Ultimaker 2+</h4>
                    <p class="text">Du matériel professionnel pour permettre à nos étudiants de développer leur créativité.</p>
                    <button><a href="#">Lire</a></button>
                </div>
            </div>
        </div>

        {# Card article materiel #}
        <div class="card-articles-materiel">
            <img src="{{asset("images/blog/bg-hero.jpeg")}}" alt="image d'illustration de l'article">
            <div class="container-card-description-materiel">
                <div class="is-avaible is-avaible_indisponible"><p class="text">Indisponible</p></div>
                <div class="description-card-materiel">
                    <h4>Imprimantes 3D Ultimaker 2+</h4>
                    <p class="text">Du matériel professionnel pour permettre à nos étudiants de développer leur créativité.</p>
                    <button>Lire</button>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}
