{% extends 'base.html.twig' %}

{% block title %}Imprimante{% endblock %}

{% block body %}

<section class="section-imprimante margin-body">

    <div class="container-form-imprimante">

        <h4>Réservez une imprimante</h4>

        {{ form_start(imprimateForm) }}
        {{ form_label(imprimateForm.impressionName, 'Nom de votre impression', {
            'label_attr': {'class': 'text'}
        }) }}
        {{ form_widget(imprimateForm.impressionName) }}

        {{ form_label(imprimateForm.description, 'Motif de la réservation', {
            'label_attr': {'class': 'text'}
        }) }}
        {{ form_widget(imprimateForm.description) }}

        {{ form_label(imprimateForm.stlFile, 'Fichier', {
            'label_attr': {'class': 'text'}
        }) }}
        {{ form_widget(imprimateForm.stlFile) }}
        {{ form_widget(imprimateForm.Jeproposemonidee, {'label': 'Je propose mon idée'}) }}

        {{ form_end(imprimateForm) }}






        
    </div>

</section>

{% endblock %}
