{% extends 'base.html.twig' %}

{% block title %}CreaLab - Blog{% endblock %}

{% block body %}

    <section class="hero margin-body">
        <h1>Blog du CréativLab</h1>
        <p class="subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
    </section>

    <nav class="margin-body nav">
        <ul>
            <li><p class="link btn-link-blog" id="section-tutos">Tutoriel</li>
            <li><p class="link btn-link-blog" id="section-projects">Projets</li>
            <li><p class="link btn-link-blog" id="section-actu">Actualités techno</li>
        </ul>
    </nav>

    <section class="sections-blog section-tutos visible">

        <div class="container-description">
            <div class="description margin-body">

                <h2>Les tutos</h2>

                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

            </div>
        </div>

        <div class="container-articles_tutos container-articles margin-body">
            {% for postTuto in postsTuto %}
                {% if postTuto.isOnline %}
                    <div class="card-articles-tutos">
                        <img src="{{ asset('upload/posts/images/') }}{{ postTuto.picture }}" alt="image d'illustration de l'article">
                        <h4>{{ postTuto.title | length > 20 ? postTuto.title | slice(0, 20) ~ '...' : postTuto.title }}</h4>
                        <p class="text">{{ postTuto.description | length > 80 ? postTuto.description | slice(0, 77) ~ '...' : postTuto.description }}</p>
                        <button><a href="{{ path('app_blog_show', {'id': postTuto.id}) }}">Lire</a></button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="margin-body container-articles-blog">

            {# Card article #}
            {% for soonerTuto in soonerTutos %}
                {% if soonerTuto.isOnline %}
                    <div class="card-articles-blog">
                        <img src="{{asset("upload/posts/images/")}}{{ soonerTuto.picture }}" alt="image d'illustration de l'article">
                        <div class="description-articles-blog">
                            <h3>{{ soonerTuto.title }}</h3>
                            <p class="legend">Publié le {{ soonerTuto.createdAt | date("d m Y") }}</p>
                            <h4>Description de la vidéo</h4>
                            <p class="text">
                                {{ soonerTuto.description | length > 430 ? soonerTuto.description | slice(0, 430) ~ '...' : soonerTuto.description }}</p>
                            <button><a href="{{ path('app_blog_show', {'id': soonerTuto.id}) }}">Lire</a></button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </section>

    <section class="sections-blog section-projects">

        <div class="container-description">
            <div class="description margin-body">

                <h2>Projets</h2>

                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

            </div>
        </div>

        <div class="container-articles-projets-blog container-articles-projets-blog_top margin-body">

            {# Card article projets #}
            {% for postProjetDESC in postsProjetsDESC %}
                {% if postProjetDESC.isOnline %}
                    <div class="card-articles-projets-blog">
                        <img src="{{asset("upload/posts/images/")}}{{ postProjetDESC.picture }}" alt="image d'illustration de l'article">
                        <div class="description-card-projets-blog">
                            <h4>{{ postProjetDESC.title | length > 20 ? postProjetDESC.title | slice(0, 20) ~ '...' : postProjetDESC.title }}</h4>
                            <p class="text">
                                {{ postProjetDESC.description | length > 80 ? postProjetDESC.description | slice(0, 77) ~ '...' : postProjetDESC.description }}</p>
                            <button>Lire</button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>

        <div class="container-slider-projets-blog">

            {# Slider item #}
            {% for postProjet in allPostProjets %}
                {% if postProjet.isOnline %}
                    <div class="card-slider-projets-blog">
                        <img src="{{asset("upload/posts/images/")}}{{ postProjet.picture }}" alt="image d'illustration de l'article">
                        <h3>{{ postProjet.title | length > 5 ? postProjet.title | slice(0, 5) ~ '...' : postProjet.title }}</h3>
                    </div>
                {% endif %}
            {% endfor %}
            {# End slider item #}


        </div>

        <div class="video-presdentation-blog">
            <div class="card-video-presentation-blog">
                <video controls>
                    <source src="{{asset("video/blog/video-blog.mp4")}}"
                            type="video/mp4">
                </video>
                <h3>Titre de la vidéo</h3>
            </div>
        </div>

        <div class="container-articles-projets-blog container-articles-projets-blog_bottom margin-body">

            {# Card article projets #}
            {% for postProjetASC in postsProjetsASC %}
                {% if postProjetASC %}
                    <div class="card-articles-projets-blog">
                        <img src="{{asset("upload/posts/images/")}}{{ postProjetASC.picture }}" alt="image d'illustration de l'article">
                        <div class="description-card-projets-blog">
                            <h4>{{ postProjetASC.title | length > 20 ? postProjetASC.title | slice(0, 20) ~ '...' : postProjetASC.title }}</h4>
                            <p class="text">
                                {{ postProjetASC.description | length > 80 ? postProjetASC.description | slice(0, 77) ~ '...' : postProjetASC.description }}</p>
                            <button>Lire</button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}


        </div>

    </section>

    <section class="sections-blog section-actu">

        <div class="container-description">
            <div class="description margin-body">

                <h2>Actualités techno</h2>

                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

            </div>
        </div>

        <div class="container-articles-actu-blog margin-body">

            {# Card article actualité #}
            {% for postActu in postsActu %}
                {% if postActu.isOnline %}
                    <div class="card-articles-actu-blog">
                        <img src="{{asset("upload/posts/images/")}}{{ postActu.picture }}" alt="image d'illustration de l'article">
                        <h4>{{ postActu.title | length > 20 ? postActu.title | slice(0, 20) ~ '...' : postActu.title }}</h4>
                        <p class="text">{{ postActu.description | length > 140 ? postActu.description | slice(0, 140) ~ '...' : postActu.description }}</p>
                        <button>Lire</button>
                    </div>
                {% endif %}
            {% endfor %}


        </div>

        <div class="main-article-actu-blog margin-body">
            <img src="{{asset("upload/posts/images/")}}{{ singlePostActu.picture }}" alt="image d'illustration de l'article">
            <h3>{{ singlePostActu.title }}</h3>
            <p class="legend">Article publié le {{ singlePostActu.createdAt | date("d m Y") }}</p>
            <p class="text">
                {{ singlePostActu.description }}</p>
            <button>Lire la suite</button>
        </div>

    </section>

{% endblock %}