{% extends 'base.html.twig' %}

{% block title %}CreaLab - Blog{% endblock %}

{% block body %}

    <section class="hero margin-body">
        <h1>Blog du CréativLab</h1>
        <p class="subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
    </section>

    <nav class="margin-body nav">
        <ul>
            <li><p class="link btn-link-blog" id="section-tutos">Tutoriel</li>
            <li><p class="link btn-link-blog" id="section-projects">Projets</li>
            <li><p class="link btn-link-blog" id="section-actu">Actualités techno</li>
        </ul>
    </nav>

    <section class="sections-blog section-tutos visible">

        <div class="container-description">
            <div class="description margin-body">

                <h2>Les tutos</h2>

                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

            </div>
        </div>

        <div class="container-articles-tutos margin-body">

            {# Card article tutos #}
            <div class="card-articles-tutos">
                <img src={{asset("images/blog/bg-hero.jpeg")}} alt="image d'illustration de l'article">
                <h4>Tuto : Comment …?</h4>
                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod. </p>
                <button>Lire</button>
            </div>
            {# End card article tutos #}

            {# Card article tutos #}
            <div class="card-articles-tutos">
                <img src={{asset("images/blog/bg-hero.jpeg")}} alt="image d'illustration de l'article">
                <h4>Tuto : Comment …?</h4>
                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod. </p>
                <button>Lire</button>
            </div>
            {# End card article tutos #}
    
            {# Card article tutos #}
            <div class="card-articles-tutos">
                <img src={{asset("images/blog/bg-hero.jpeg")}} alt="image d'illustration de l'article">
                <h4>Tuto : Comment …?</h4>
                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod. </p>
                <button>Lire</button>
            </div>
            {# End card article tutos #}
        </div>
        
        <div class="margin-body container-articles-blog">

            {# Card article #}
            <div class="card-articles-blog">
                <img src={{asset("images/blog/bg-hero.jpeg")}} alt="image d'illustration de l'article">
                <div class="description-articles-blog">
                    <h3>Comment utiliser les imprimantes 3d du CréativLab ?</h3>
                    <p class="legend">Publié le 20 03 22 par ...</p>
                    <h4>Description de la vidéo</h4>
                    <p class="text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, </p>
                </div>
            </div>
            {# End card article #}

            {# Card article #}
            <div class="card-articles-blog">
                <img src={{asset("images/blog/bg-hero.jpeg")}} alt="image d'illustration de l'article">
                <div class="description-articles-blog">
                    <h3>Comment utiliser les imprimantes 3d du CréativLab ?</h3>
                    <p class="legend">Publié le 20 03 22 par ...</p>
                    <h4>Description de la vidéo</h4>
                    <p class="text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, </p>
                </div>
            </div>
            {# End card article #}
            
        </div>

    </section>

    <section class="sections-blog section-projects">

        <div class="container-description">
            <div class="description margin-body">

                <h2>Projets</h2>

                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

            </div>
        </div>

    </section>

    <section class="sections-blog section-actu">

        <div class="container-description">
            <div class="description margin-body">

                <h2>Actualités techno</h2>

                <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

            </div>
        </div>

    </section>

{% endblock %}